@import "tailwindcss";
@import "./font-styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Loại bỏ thanh cuộn mặc định */
  height: 100%;
  width: 100%;
}

/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Cho Chrome, Safari và Opera */
}

.scrollbar-none {
  -ms-overflow-style: none;  /* Cho IE và Edge */
  scrollbar-width: none;  /* Cho Firefox */
}
